.interface-login{
padding-top: 150px;
}

.w3-sidebar {
    width: 120px;
   
    }
    /*Define Fonte para todas as tags listadas abaixo*/
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 
    
    {
    font-family: "Montserrat", sans-serif
    }
   